body {
	width:500px;
	margin:auto;
	text-align:center;
}
dl {

}
dd {
	margin:0px;
	padding: 1em 0;
}

dt {
	cursor:pointer;
	font-weight: bold;
	line-height: 2em;
	background: #e3e3e3;
	border-bottom:1px solid #ddd;
	border-top: 1px solid #fff;
}